<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>


<body>

    <%- include('partials/header') %>

    <section class="banner">
        <img src="/images/banner.jpg" width="100%">
    </section>


    <div class="categorias">
        <section class="categoria">

            <h5>basado en tu ultima visita</h5>
            <section class="articulos">
         
                <% products.forEach(product => { %>
                    <%- include('partials/product', { product }) %>
                <% })%>
                    
            </section>

        </section>



        <section class="categoria">


            <h5>Ofertas</h5>
            <section class="articulos">
                <% products.forEach(product => { %>
                    <%- include('partials/product', { product }) %>
                <% })%>

            </section>
        </section>
    </div>

    <%- include('partials/footer') %>


</body>

</html>